
/* Reset margins and boxes */

html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
  }

* {
	padding: 0;
	margin: 0;
	}

/* General styling */

body {
    font-family: 'Rubik', sans-serif;
    height: 100vh;
    font-size: 18px;
    /* text-align: center; */
      }

h1 {
  font-size: 48px;
  font-weight: 900;
}

h2 {
  margin-top: 30px;
  font-size: 36px;
  font-weight: 900;
}

a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

blockquote {
  font-weight: 300;
  font-style: italic;
  margin-bottom: 20px;
}

figcaption {
  text-align: right;
}

.button {
  background-color: #3882F6;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 45px;
  border-radius: 5px;
  border-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #010101;
  min-height: 10vh;
  padding: 0px 10%;
}

.footer {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #010101;
  height: 10vh;
  padding: 0px 10%;
}


.header-logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.header-links {
  display: flex;
  gap: 25px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #010101;
  min-height: 50vh;
  padding: 0px 10%;
  color: #fff;
}

.hero-img {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.hero-box {
  flex: 1;
  display: flex;
  min-width: 300px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.hero-box h1 {
  text-align: left;
  line-height: 0.9;
}

.hero-img img {
  /* width: 400px; */
  height: 100%;
  width: 100%;
  min-width: 350px;
  min-height: 350px;
  object-fit: contain;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #1F2937;
  gap: 30px;
  min-height: 50vh;
  padding: 0px 10%;
}



.info-planets {
  display: flex;
  flex-wrap: wrap;
  /* width: 90%; */
  gap: 40px;
  justify-content: center;
  margin-bottom: 50px;
}

.info-planets div img {
  width: 220px;
  border-style: solid;
  border-width: 4px;
  border-color: #1F2937;
  border-radius: 10px;
}

.info-planets .planet {
  width: 220px;
  text-align: center;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  background-color: #E5E7EB;
  color: #1F2937;
  min-height: 50vh;
  padding: 0px 20%;
}

