
/* Reset margins and boxes */

html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
  }

* {
	padding: 0;
	margin: 0;
	}

/* General styling */

body {
    font-family: 'Rubik', sans-serif;
    height: 100vh;
    text-align: center;
      }

a {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #010101;
  height: 10vh;
  padding: 0px 10%;
}

.footer {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #010101;
  height: 10vh;
  padding: 0px 10%;
}


.header-logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.header-links {
  display: flex;
  gap: 25px;
}

.hero {
  display: flex;
  justify-content: space-between;
  /* padding: 10px 100px; */
}

.hero-img img {
  width: 400px;
}

.info {
  /* text-align: center; */
}



.info-planets {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  gap: 30px;
  justify-content: center;
}

.info-planets div img {
  width: 200px;
}

.info-planets .planet {
  width: 200px;
}

